.productCard{
	border: 1px solid #ddd;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	margin: 4px;
}

.productCard__button {
	background: #FF9F00;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 2px;
	font-size: 14px;
	font-weight: bold;
}

.productCard__cartIcon {
	margin-right: 4px;
}

.productCard:hover {
	-webkit-box-shadow: -1px 2px 40px -7px rgba(201,201,201,1);
    -moz-box-shadow: -1px 2px 40px -7px rgba(201,201,201,1);
    box-shadow: -1px 2px 40px -7px rgba(201,201,201,1);
}


	